@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Thin.woff2') format('woff2'),
        url('/fonts/shabnam/Shabnam-Thin.woff') format('woff'),
        url('/fonts/shabnam/Shabnam-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Light.woff2') format('woff2'),
        url('/fonts/shabnam/Shabnam-Light.woff') format('woff'),
        url('/fonts/shabnam/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam.woff2') format('woff2'),
        url('/fonts/shabnam/Shabnam.woff') format('woff'),
        url('/fonts/shabnam/Shabnam.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Medium.woff2') format('woff2'),
        url('/fonts/shabnam/Shabnam-Medium.woff') format('woff'),
        url('/fonts/shabnam/Shabnam-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),
        url('/fonts/shabnam/Shabnam-Bold.woff') format('woff'),
        url('/fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
